*{

    font-family: "Lora", serif;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
}

:root{
    --fontcolor1: #CE9647;
    --fontcolor2:  #8F6325;
    --fontcolor3: black;
    --backgroundcolor1: #FFF9F2 ;
    --backgroundcolor2: #fff3b82f ;
    --backgroundcolor3: #392c0d53 ;
}
header{
    background-color: var(--backgroundcolor1);
}
header nav{
height: 10vh;
display: flex;
flex-direction: row;
background-color:var(--backgroundcolor3);
border-radius: 3rem;
/* position: fixed; */
z-index: 999;
}

header nav .logocontainer{
    width: 10%;
  
}

header nav .logocontainer img{
    width:50%;
    border-radius: 3rem;
}

.contentcontainer{
    position: relative;
    left:30%;
    margin-top: 1rem;

}

.contentcontainer ul  {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.contentcontainer ul li a{
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--fontcolor1);
}

.contentcontainer ul li a:hover{
    font-weight: bolder;
    cursor: pointer;
    color: var(--fontcolor3);
}

.contentcontainer ul  {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.contentcontainer ul li a{
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--fontcolor1);
}

.contentcontainer ul li a:hover{
    font-weight: bolder;
    cursor: pointer;
    color: var(--fontcolor3);
}

section{
    padding-top: 3rem;
}

.singup_box{
    position: relative;
    left: 25%;
    top: 30%;
    background-color:var(--backgroundcolor1);
    box-shadow: 0px 4px 8px rgba(6, 13, 80, 0.18);
    border-radius: 1rem;
    padding: 2rem;
    width: 50%;
}

.singup_form .singUp{
    box-shadow: 0px 4px 8px rgba(6, 13, 80, 0.18);
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 2rem;
}
.singup_form h1{
   color: var(--fontcolor2);
   margin: 1rem;
   text-align: center;
}


.submit_btn{
    position: relative;
    left:28%;
    width:30%;
    margin: 2rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.8rem;
    box-shadow: 0px 4px 8px rgba(6, 13, 80, 0.18);
     color: var(--fontcolor2);
   
}
.submit_btn:hover{
    color: var(--fontcolor1);
    cursor: pointer;
}
.move_to_login{
    display: flex;
    justify-content: space-between;
    a{
        color:var(--fontcolor2)
    }
}
.move_to_login a:hover{
    color: var(--fontcolor1)

}

.error{
    color:red;
    margin-bottom: 1rem;
}